

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Rasa&family=Ubuntu:wght@300&display=swap');


:root {
    /* colors */
    --primary-50: #eff6ff;
    --primary-100: #dbeafe;
    --primary-200: #bfdbfe;
    --primary-300: #93c5fd;
    --primary-400: #60a5fa;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;
    --primary-800: #1e40af;
    --primary-900: #1e3a8a;
    --primary-1000:#621c74;
  
    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
  
    /* fonts  */
    --headingFont: 'Roboto Condensed', Sans-Serif;
    --bodyFont: 'Cabin', Sans-Serif;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 500px;
    --fluid-width: 90vw;
    --breakpoint-lg: 992px;
    --nav-height: 6rem;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}


.nav-link{
    text-transform: capitalize;
    font-size: 1.4rem;
}
h1{
    font-family: 'Montserrat'; 
   font-size: initial;
    font-weight: 900;
   
    text-transform: capitalize;
     
}

h2{
    font-family: "Montserrat";
}
#title{
    padding: 1.7% 0;
    
}
.title h1{
    color: #621c74;
    z-index: 1;
}
.title h3{
    font-size: medium;
    line-height: 1.7;
    font-weight: 300;
    color: #621c74;
}

.img-fluid{
   background: cover;
    z-index: -1;
    padding: 4px;
    margin-left: -100px;
}

.button{
    cursor: pointer;
    color: var(--white);
    background: #6255A5;
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.7rem 0.75rem;
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
}

.full-page{
    min-height: 100vh;
}

#Featured{
    background-color: #F7F4FF;
    text-align: center;
    padding-bottom: 3%;
    border-radius: 7px;
    margin: auto;
}

.press-logo{
    width: 17%;
    margin: 25px 25px auto ;
   
}

#testimonials{
    padding: 100px 0 100px 0;
}
.card-text{
    font-family: "Rasa";
    font-weight: 400;
}


#press{
    padding: 5% 0 5% 0;
    background-color: #F2F0EF;
}

#press h1{
    color: #494166;
    font-size: 3.8rem;
    text-shadow: 2px 2px black;
}
#subcribe{
    background-color: #85D1A0;
    color: #fff;
    text-align: center;
     padding: 8% 25%;

}

.content{
    max-width: 650px;
    margin: 0 auto;
}
.content h2{
    margin-bottom: 6rem;
    line-height: 1.5;
    font-weight: bolder;
}

.form-control{
    height: 50px ;
     
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #243c4f;
}

#button-subscribe{
    background-color: #6255A5;
    color:#fff;
    font-weight: 600;
}




#titleCourse{
    background-image: url("images/title/technologie.jpg") ;
    background-size: cover;
    color: #fff;
    padding: 2% 0.5%;
    margin:1rem 1rem 1rem 3rem;
}



.img {
    background-image: url('images/title/login.jpg');
  margin-right: -10px;
  margin-left: -15px;
  padding-bottom: 30%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}



.form-control:valid {
    background-color:  #fff!important;
}


.form-check-input{width: 30%; height: 30px;}

.btn-login{
    
    color: var(--white);
    background: #6255A5;
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.7rem 0.75rem;
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
    
}

.TitleBooks{
    background-image: url('images/title/Book.jpg');
   
    padding-bottom: 40%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-Contact{
    background-image: url("/images/title/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#titleprograms{
    background-image: url("/images/title/programs.jpg") ;
    background-size: cover;
    color: #fff;
    padding: 2% 0.5%;
    margin:1rem 1rem 1rem 3rem;
}





.modals{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100rem;
    background-color: #f3f3f3;
    padding: 2rem 4rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: hidden;
  
  }
  
  .modal__header {
    font-size: 2rem;
    margin-bottom: 1.1rem;
  
  }
  
  .modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
    transition: 0.5s;
  
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }



























  .panel-group .panel+.panel {
    margin-top: 10px;
  }
  /* \f142 is ellipsis-v */
  /* \202F is thin unbreakable space */
  
  .fa.fa-grip:before {
    content: "\f142 \202F \f142";
  }
  /*fa-grip-large : <i class="fa fa-grip-large fa-rotate-90"></i>*/
  
  .fa.fa-grip-large:before {
    content: "\f142 \202F \f142 \202F \f142 \202F \f142";
  }
  
  .panel-title .chevron:after {
    content: "\f078";
  }
  
  .panel-title .collapsed .chevron:after {
    content: "\f054";
  }
  
  .xlist.ng-enter {
    /*
  -webkit-transition: 0.4s ease-in all;
    -moz-transition: 0.4s ease-in all;
    -ms-transition: 0.4s ease-in all;
    -o-transition: 0.4s ease-in all;
  */
    transition: 0.4s ease-in all;
    opacity: 0;
  }
  
  .xlist.ng-enter.ng-enter-active {
    opacity: 1;
  }
  
  .xlist.ng-leave {
    transition: 0.4s ease-out all;
    opacity: 1;
  }
  
  .xlist.ng-leave.ng-leave-active {
    opacity: 0;
  }
  
  .drop-box {
    border: 2px dashed #DDD;
    margin: 5px;
  }
  
  .dragover {
    background: #F8F8F8;
    border: 5px dashed darkorange;
    position: relative;
  }
  
  .dragOverlay {
    display: none;
  }
  
  .dragover .dragOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    /* all other browsers*/
    filter: alpha(opacity=30);
    /* for IE5-7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /* for IE8*/
    z-index: 2;
  }
  
  .dragInner {
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 44%;
  }
  
  .list-group {
    margin-bottom: 0px;
  }
  /* ng-sortable css file */
  
  .as-sortable-item,
  .as-sortable-placeholder {
    display: block
  }
  
  .as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none
  }
  
  .as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab
  }
  
  .as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999
  }
  
  .as-sortable-hidden {
    display: none!important
  }
  
  .as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .as-sortable-item,
  .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 10px
  }
  
  .as-sortable-item {
    border: solid 1px darkgrey;
    background-color: #fff
  }
  
  .as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb
  }
  
  .as-sortable-drag {
    opacity: .8
  }
  